<div id="theteam">
<h1>The Team</h1>
<p>
Mike Wald, E.A. Draffan, Seb Skuse, Magnus White<br />
<a href="http://access.ecs.soton.ac.uk/">Access Technologies Team, ECS, University of Southampton</a>
</p>

<p>Peter Cudd, ScHARR, University of Sheffield<br />
	<a href="http://www.sheffield.ac.uk/scharr/">School of Health and Related Research (ScHARR)</a>
</p>

<p>
Steve Lee, Full Measure & OSS Watch<br />
	<a href="http://fullmeasure.co.uk/">Full Measure</a>
</p>
<p>Ross Gardler, OSS Watch<br />
	<a href="http://www.oss-watch.ac.uk/">OSS Watch</a>
</p>
<p>
Mark Hawley, Devices for Dignity (D4D)<br />
	<a href="http://www.devicesfordignity.org.uk/">Devices for Dignity</a>
</p>	
	
</div>