<h1>About REALISE Project</h1>

<p>REALISE is a community of people working to develop new software technologies that make using the Internet, computers and mobile devices easier for people who struggle with these systems.</p>
<p>Project REALISE's focus on accessibility and ease of use make it ideal for the application of open innovation principles as it has the potential to develop ground breaking and life changing technology solutions.</p>
<p>The project was originally funded by <a href="http://www.jisc.ac.uk/">JISC</a> and <a href="http://www.devicesfordignity.org.uk/">Devices for Dignity</a> and is now going out to those interested in growing the community as a research and innovation project with links to interested users, developers and organisations.</p>
<p>We want to hear about any ideas you have for REALISE and how we can help individuals in their quest to break down the barriers that prevent access to daily living, work, leisure and education.</p>
<p>Let's start <a href="/idea">"Realising Potential through Partnerships</a>.</p>


<div id="theteam">
<h1>The Team</h1>
<p>
Mike Wald, E.A. Draffan, Magnus White<br />
<a href="http://access.ecs.soton.ac.uk/">Access Technologies Team, ECS, University of Southampton</a>
</p>

<p>Peter Cudd and Melanie Rimmer.  ScHARR, University of Sheffield<br />
	<a href="http://www.sheffield.ac.uk/scharr/">School of Health and Related Research (ScHARR)</a>
</p>
	
</div>