			<h2>Accessibility Statement</h2>
<p>The REALISE Project team is committed to providing a website that is accessible to the widest possible audience, regardless of technology or ability.<br>
We are actively working to increase the accessibility and usability of our website and in doing so adhere to many of the available standards and guidelines.</p>
<p>This website endeavours to conform to the latest Web Content Accessibility Guidelines 2.0, W3C World Wide Web Consortium Recommendations as of 10 October, 2008 (<a href="http://www.w3.org/WAI/WCAG20/quickref/">How to meet WCAG2.0</a>) "The Web Accessibility Initiative (WAI) develops strategies, guidelines, and resources to help make the Web accessible to people with disabilities." (<a href="http://www.w3.org/WAI/gettingstarted/Overview.html">Getting started with Web Accessibility</a>) </p>
<p>This site has been built using code compliant with W3C standards for XHTML and CSS. The site displays correctly in current browsers and using standards compliant XHTML/CSS code means any future browsers will also display it correctly.</p>
<p>Whilst the REALISE Project team strive to adhere to the accepted guidelines and standards for accessibility and usability, it may not always be possible to ensure ease of use for all those viewing these pages. </p>
<h3>However, here are links to other resources that may help:</h3>
<ul>
  <li>Use Zoom controls if you want to make the text larger - <strong>Ctrl plus +</strong>  then <strong>Ctrl plus 0 (zero) </strong> to return to the default size -<strong> Ctrl plus - </strong>to make things smaller. </li>
      <p></p>
  <li>Add the <a href="http://access.ecs.soton.ac.uk/ToolBar/">ATBar</a> to change text, font sizes, background colours, and add text to speech.</li>
  <p></p>
  <li><a href="http://www.bbc.co.uk/accessibility/bbc/partnership.shtml">My Web My Way</a> - Provides more information on how to change your browser settings in Windows, Mac and Linux. </li>
    <p></p>
  <li><a href="http://readthewords.com/">Read the Words.com </a>- is a free, web based service that assists people with written material. You have to register for this service but it is possible to copy and paste the web address for every page in the REALISE website and have it read back with speech synthesis - text to speech - or downloaded as an MP3 file or sent by e-mail. It is also possible to upload documents for reading aloud. </li>
    <p></p>
  <li><a href="http://www.webbie.org.uk/">WebbIE free text browser</a> for those who are blind or have visual impairments works well with the free <a href="http://www.screenreader.net/">Thunder screen reader</a>. <a href="http://www.nvda-project.org/">NVDA</a> is also a freely available screenreader. </li>
    <p></p>
</ul>
<p>We are continually seeking solutions that will bring all areas of the site up to the same level of overall accessibility. In the meantime should you experience any difficulty in accessing the REALISE website, please don't hesitate to contact us. </p>
<p>Mrs E.A. Draffan, 
 Learning Societies Lab, 
ECS, University of Southampton, Highfield, Southampton SO17 1BJ</p>
<p>Tel +44 (0)23 8059 7246 </p>
<p>e-mail ead@ecs.soton.ac.uk </p>
<p>Accessibility statement template provided by <a href="http://www.nomensa.com/accessibility-statement">Nomensa Ltd</a></p>
