<h1>Contact for the project</h1>

<p>Mrs E.A. Draffan, 
 Learning Societies Lab, 
ECS, University of Southampton, Highfield, Southampton SO17 1BJ</p>
<p>Tel +44 (0)23 8059 7246 </p>
<p>e-mail ead@ecs.soton.ac.uk </p>

<h1>Contact for web page issues</h1>

<p>Sebastian Skuse 
 Learning Societies Lab, 
ECS, University of Southampton, Highfield, Southampton SO17 1BJ</p>
<p>Tel +44 (0)23 8059 7246 </p>
<p>e-mail scs@ecs.soton.ac.uk </p>

<h1>Discussion forum</h1>

<a href="http://groups.google.com/group/project-realise">Google Groups</a>