<h1>Questions</h1>

<h2>Entry key information</h2>
	<ol>
		<li><a href="#ans-1">Do I have to choose a project name?</a></li>
	</ol>

<h2>Questions that relate to legal issues</h2>
	<ol>
		<li><a href="#ans-2">Who can use the software?/Can I run the software?</a></li>
		<li><a href="#ans-3">Can I see the source code of the software?/ Who can see the program?</a></li>
		<li><a href="#ans-4">Can I edit the software code?/Who can edit the source code?</a></li>
		<li><a href="#ans-5">Can I share the software with other people?/Who can give copies of the software to other people?</a></li>
	</ol>

<h2>Questions that relate to access  information</h2>
	<ol>
		<li><a href="#ans-6">Can I see all the information on the project?/Who can see all the information on the project?</a></li>
		<li><a href="#ans-7">Are there any reasons why access isn't free?/ Can I use the software for any purpose?</a></li>
	</ol>

<h2>Questions that relate to  supplying information</h2>
	<ol>
		<li><a href="#ans-8">Who can join in projects?/Who can contribute?</a></li>
	</ol>

<h2>Questions that relate to how things are managed</h2>
	<ol>
		<li><a href="#ans-9">Who is leading the Realise project?/Who is involved in the Realise project?</a></li>
		<li><a href="#ans-10">How are people supposed to behave?/ Someone has been offensive, what can I do?</a></li>
		<li><a href="#ans-11">How do I join in?/How do I take part?</a></li>
		<li><a href="#ans-12">Who can join in projects?/Can I contribute?</a></li>
	</ol>



<h1>Answers</h1>

	<h2><a id="ans-1">Do I have to choose a project name?</a></h2>
	<p>All entries on the Realise site are labelled with a name, even just ideas or needs. If you are commenting on something already there your comment will be labelled with its name.</p>

	<h2><a id="ans-2">Who can use the software?/Can I run the software?</a></h2>
	<p>Anyone can use the Realise sites resources or those set up for hosted  incubated projects or actual projects.</p>

	<h2><a id="ans-3">Can I see the source code of the software?/ Who can see the program?</a></h2>
	<p>Of Realise itself, just those granted access by the project leadership. But for incubated projects or actual projects hosted on Realise then all members of the community</p>

	<h2><a id="ans-4">Can I edit the software code?/Who can edit the source code?</a></h2>
	<p>Of Realise itself, just those granted access by the project leadership. But for incubated projects or actual projects hosted on Realise then all members of the community</p>

	<h2><a id="ans-5">Can I share the software with other people?/Who can give copies of the software to other people?</a></h2>
	<p>Of Realise itself, just those granted access by the project leadership. But for incubated projects or actual projects hosted on Realise then all members of the community</p>

	<h2><a id="ans-6">Can I see all the information on the project?/Who can see all the information on the project?</a></h2>
	<p>Members of the community - anyone who visits the site</p>

	<h2><a id="ans-7">Are there any reasons why access isn't free?/ Can I use the software for any purpose?</a></h2>
	<p>Realise is required to consider how to make sure it can continue to exist after its original funding. This means that some of the knowledge may have to used to generate income. For Realise incubator and project software normally the aim is not to have any. But if some hardware is involved then this cannot be free.</p>

	<h2><a id="ans-8">Who can join in projects?/Who can contribute?</a></h2>
	<p>Anyone who is part of the Realise community can contribute on the Realise site. Once a project has its own site the users of that site can contribute to that project.</p>

	<h2><a id="ans-9">Who is leading the Realise project?/Who is involved in the Realise project?</a></h2>
	<p>Mike Wald of the University of Southampton is the project lead. He is joined by EA Draffan and Seb Skuse also from Southampton, and Peter Cudd from the University of Sheffield and Devices for Dignity. The project meetings are minuted on http://access.ecs.soton.ac.uk/blog/realise/.</p>

	<h2><a id="ans-10">How are people supposed to behave?/ Someone has been offensive, what can I do?</a></h2>
	<p>As with most online communities you should not cause offence to other users.Messages should be courteous and appropriate. Posting of unsolicited commercial or advertising material is not allowed. Please alert us to any problems arising.</p> 

	<h2><a id="ans-11">How do I join in?/How do I take part?</a></h2>
	<p>To contribute you can always either comment on entries already present or add a completely new idea, in some circumstances you can move an idea to the incubator or a project.      For more information on how to take part go to the Realise homepage http://www.realisepotential.org/</p>

	<h2><a id="ans-12">Who can join in projects?/Can I contribute?</a></h2>
	<p>Anyone can contribute to Realise and its hosted ideas, incubated projects or actual projects.</p> 
