<h1>Questions</h1>

<h2>Creating an Idea, Incubated Idea or Project</h2>

<ol>

<li><a href="#create-ans1">Do I have to choose a project name?</a></li>
<li><a href="#create-ans2">How do I create an idea?</a></li>
<li><a href="#create-ans3">How do I create an incubated idea?</a></li>
<li><a href="#create-ans4">How do I create a project?</a></li>
<li><a href="#create-ans5">What is Realise aiming to achieve?</a></li>
</ol>

<h2>Idea and project management</h2>

<ol>
<li><a href="#mang-ans1">Can I delete comments on my idea, incubated idea or project page?</a></li>
<li><a href="#mang-ans2">Can I delete an idea?</a></li>
<li><a href="#mang-ans3">Can anyone comment on ideas, incubated ideas and projects?</a></li>
<li><a href="#sec2-ans4">Can anyone vote on ideas or follow incubated ideas and projects?</a></li>
<li><a href="#mang-ans5">How do I become a team member?</a></li>
<li><a href="#mang-ans6">How do I create an openness rating?</a></li>
</ol>


<h2>Legal issues</h2>
<ol>
<li><a href="#leg-ans1">Who can use the software?/Can I run the software?</a></li>
<li><a href="#leg-ans2">Can I see the source code of the software?/ Who can see the program?</a></li>
<li><a href="#leg-ans3">Can I edit the software code?/Who can edit the source code?</a></li>
<li><a href="#leg-ans4">Can I share the software with other people?/Who can give copies of the software to other people?</a></li>
</ol>

<h2>Access information</h2>
<ol>
<li><a href="#acc-ans1">Can I see all the information on the project?/Who can see all the information on the project?</a></li>
<li><a href="#acc-ans2">Are there any reasons why access isn't free?/ Can I use the software for any purpose?</a></li>
</ol>

<h2>Supplying information</h2>
<ol>
<li><a href="#sup-ans1">Who can join in projects?/Who can contribute?</a></li>
</ol>

<h2>REALISE project management</h2>
<ol>
<li><a href="#res-ans1">Who is leading the Realise project?/Who is involved in the Realise project?</a></li>
<li><a href="#res-ans2">How are people supposed to behave?/ Someone has been offensive, what can I do?</a></li>
<li><a href="#res-ans3">How do I join in?/How do I take part?</a></li>
<li><a href="#res-ans4">Who can join in projects?/Can I contribute?</a></li>
</ol>

<br />
<h1>Answers</h1>

<h2>Creating an Idea, Incubated Idea or Project</h2>

<h3><a id="create-ans1">Do I have to choose a project name?</a></h3>
<p>All entries on the Realise site are labelled with a name, even ideas or a need that you have put into the text edit box. If you are commenting on something already there your comment will be labelled with its name.</p>
<div class="answer"></div>

<h3><a id="create-ans2">How do I create an idea?</a></h3>
<p>Navigate to the Ideas Lab and chose an idea title and select 'submit' idea. Additional information will be requested. Further instructions can be found on the <a href="/help">help page</a>.</p>
<div class="answer"></div>

<h3><a id="create-ans3">How do I create an incubated idea?</a></h3>
<p>An incubated idea is developed from a current idea. To incubate an idea, select it, then select 'incubate'. Further instructions can be found on the <a href="/help">help page</a>.</p>
<div class="answer"></div>

<h3><a id="create-ans4">How do I create a project?</a></h3>
<p>Projects are created from incubated ideas once they have an 'openness rating' of 75% or more. To begin the 'openness rating' select the incubated idea manage page and select 'Get an openness rating'. Further instructions can be found on the <a href="/help">help page</a>.</p>
<div class="answer"></div>

<br />
<h2>Idea and project management</h2>

<h3><a id="mang-ans1">Can I delete comments made about my idea, incubated idea or project page?</a></h3>
<p>Comments can be deleted by selecting the delete icon <img src="/presentation/images/slash-button.png" original-title="Delete icon"> on the right of a posted comment if you are the manager of the project. When an administer comments on an idea or project that comment cannot be deleted except by another administrator.</p>
<div class="answer"></div>

<h3><a id="mang-ans2">Can I delete an idea?</a></h3>
<p>You cannot delete any ideas, even your own. If you would like one removed please contact our web administrator. Contact details are on the <a href="/contact">contact us</a> page.</p>
<div class="answer"></div>

<h3><a id="mang-ans3">Can anyone comment on ideas, incubated ideas and projects?</a></h3>
<p>Yes, anyone can comment on ideas, incubated ideas and projects.</p>
<div class="answer"></div>

<h3><a id="mang-ans4">Can anyone vote on ideas or follow incubated ideas and projects?</a></h3>
<p>Yes, anyone can vote on ideas or follow incubated ideas and projects.</p>
<div class="answer"></div>

<h3><a id="mang-ans5">How do I become a team member?</a></h3>
<p>To become a team member you must be following an incubated idea or project. The team leader may then offer you the chance to become a team member.</p>
<div class="answer"></div>

<h3><a id="mang-ans6">How do I create an openness rating?</a></h3>
<p>To create an openness rating select manage on your incubated or project page. Follow the openness rating link at the top of the page and complete the openness rating form. Further instructions can be found on the <a href="/help">help page</a>.</p>
<div class="answer"></div>

<br />
<h2>Legal issues</h2>
<h3><a id="leg-ans1">Who can use the software?</a></h3>
<p>Anyone can use the Realise sites resources or those set up for hosted incubated projects or actual projects.</p>
<div class="answer"></div>

<h3><a id="leg-ans2">Can I see the source code of the software?/ Who can see the program?</a></h3>
<p>Of Realise itself, just those granted access by the project leadership. But for incubated projects or actual projects hosted on Realise then all members of the community.</p>
<div class="answer"></div>

<h3><a id="leg-ans3">Can I edit the software code?/Who can edit the source code?</a></h3>
<p>Of Realise itself, just those granted access by the project leadership. But for incubated projects or actual projects hosted on Realise then all members of the community</p>
<div class="answer"></div>

<h3><a id="leg-ans4">Can I share the software with other people?/Who can give copies of the software to other people?</a></h3>
<p>Of Realise itself, just those granted access by the project leadership. But for incubated projects or actual projects hosted on Realise then all members of the community</p>
<div class="answer"></div>

<br />
<h2>Access information</h2>

<h3><a id="acc-ans1">Can I see all the information on the project?/Who can see all the information on the project?</a></h3>
<p>Members of the community - anyone who visits the site</p>
<div class="answer"></div>

<h3><a id="acc-ans2">Are there any reasons why access isn't free?/ Can I use the software for any purpose?</a></h3>
<p>Realise is required to consider how to make sure it can continue to exist after its original funding. This means that some of the knowledge may have to used to generate income. For Realise incubator and project software normally the aim is not to have any. But if some hardware is involved then this cannot be free.</p>
<div class="answer"></div>

<br />
<h2>Supplying information</h2>

<h3><a id="sup-ans1">Who can join in projects?/Who can contribute?</a></h3>
<p>Anyone who is part of the Realise community can contribute on the Realise site. Once a project has its own site the users of that site can contribute to that project.</p>
<div class="answer"></div>

<br />
<h2>REALSIE project management</h2>

<h3><a id="res-ans1">Who is leading the Realise project?/Who is involved in the Realise project?</a></h3>
<p>Mike Wald of the University of Southampton is the project lead. He is joined by EA Draffan and Seb Skuse also from Southampton, and Peter Cudd from the University of Sheffield and Devices for Dignity. The project meetings are minuted on http://access.ecs.soton.ac.uk/blog/realise/.</p>
<div class="answer"></div>

<h3><a id="res-ans2">How are people supposed to behave?/ Someone has been offensive, what can I do?</a></h3>
<p>As with most online communities you should not cause offence to other users.Messages should be courteous and appropriate. Posting of unsolicited commercial or advertising material is not allowed. Please alert us to any problems arising.</p>
<div class="answer"></div>

<h3><a id="res-ans3">How do I join in?/How do I take part?</a></h3>
<p>To contribute you can always either comment on entries already present or add a completely new idea, in some circumstances you can move an idea to the incubator or a project. For more information on how to take part go to the Realise homepage http://www.realisepotential.org/</p>
<div class="answer"></div>

<h3><a id="res-ans4">Who can join in projects?/Can I contribute?</a></h3>
<p>Anyone can contribute to Realise and its hosted ideas, incubated projects or actual projects.</p>
<div class="answer"></div>


<h3><a id="create-ans5">What is Realise aiming to achieve?</a></h3>

<div id="mediaplayer"></div>
<script type="text/javascript">
	jwplayer("mediaplayer").setup({
		flashplayer: "/presentation/lib/jwplayer/player.swf",
		file: "http://users.ecs.soton.ac.uk/mw/recordings/Mike%20Wald/Southampton_v3.mp4",
		width:700
	});
</script>