<h1>Questions</h1>

<h2>Creating an Idea, Incubated Idea or Project</h2>

<ol>
<li><a href="#create-ans1">Do I have to choose a project name?</a></li>
<li><a href="#create-ans2">How do I create an idea?</a></li>
<li><a href="#create-ans3">How do I create an incubated idea?</a></li>
<li><a href="#create-ans4">How do I create a project?</a></li>
<li><a href="#create-ans5">What is Realise aiming to achieve?</a></li>
<li><a href="#create-ans6">What is a Project URL?</a></li>
<li><a href="#create-ans7">Why do I  need to leave a contact name?</a></li>
<li><a href="#create-ans8">Why do I  need to leave a contact email?</a></li>
</ol>

<h2>Openness Rating</h2>

<ol>
<li><a href="#openness-ans1">What is the openness rating?</a></li>
<li><a href="#openness-ans2">Can anyone see my project's openness rating?</a></li>
<li><a href="#openness-ans3">Can I update my project's openness rating?</a></li>
</ol>

<h2>Idea and project management</h2>

<ol>
<li><a href="#mang-ans1">Can I delete comments on my idea, incubated idea or project page?</a></li>
<li><a href="#mang-ans2">Can I delete an idea?</a></li>
<li><a href="#mang-ans3">Can anyone comment on ideas, incubated ideas and projects?</a></li>
<li><a href="#mang-ans4">Can anyone vote on ideas or follow incubated ideas and projects?</a></li>
<li><a href="#mang-ans5">How do I become a team member?</a></li>
<li><a href="#mang-ans6">How do I create an openness rating?</a></li>
</ol>


<h2>Legal issues</h2>
<ol>
<li><a href="#leg-ans1">Who can use the software?/Can I run the software?</a></li>
<li><a href="#leg-ans2">Can I see the source code of the software?/ Who can see the program?</a></li>
<li><a href="#leg-ans3">Can I edit the software code?/Who can edit the source code?</a></li>
<li><a href="#leg-ans4">Can I share the software with other people?/Who can give copies of the software to other people?</a></li>
<li><a href="#leg-ans5">What are common Free and Open Source Licences?</a></li>
<li><a href="#leg-ans6">What are project dependencies and licence compatibilities?</a></li>
<li><a href="#leg-ans7">Who is allowed to view my project's source code?</a></li>
<li><a href="#leg-ans8">Can other people license your software under a different licence or can you change a licence on a piece of software that you want to develop further?</a></li>
<li><a href="#leg-ans9">Does an open source software licence give me the right to a patent?</a></li>
<li><a href="#leg-ans10">Why should I or someone else share any code developments?</a></li>
</ol>

<h2>Access information</h2>
<ol>
<li><a href="#acc-ans1">Can I see all the information on the project?/Who can see all the information on the project?</a></li>
<li><a href="#acc-ans2">Are there any reasons why access isn't free?/ Can I use the software for any purpose?</a></li>
<li><a href="#acc-ans3">Is it important to tell people the formats used for data and communication?</a></li>
<li><a href="#acc-ans4">Are there factors that could imply limits or costs to free use/re-use of the software?</a></li>
<li><a href="#acc-ans5">Are their any costs attached to using the information provided about the project or when purchasing a licence for use?</a></li>
<li><a href="#acc-ans6">What do the acronyms for the standards I need to know about mean?</a></li>
</ol>

<h2>Supplying information</h2>
<ol>
<li><a href="#sup-ans1">Who can join in projects?/Who can contribute?</a></li>
</ol>

<h2>REALISE project management</h2>
<ol>
<li><a href="#res-ans1">Who is leading the Realise project?/Who is involved in the Realise project?</a></li>
<li><a href="#res-ans2">How are people supposed to behave?/ Someone has been offensive, what can I do?</a></li>
<li><a href="#res-ans3">How do I join in?/How do I take part?</a></li>
<li><a href="#res-ans4">Who can join in projects?/Can I contribute?</a></li>
<li><a href="#res-ans6">Do I need to document how I am managing my project?</a></li>
<li><a href="#res-ans7">I have seen Unicode mentioned, what's that about?/ What is UTF8?</a></li>
<li><a href="#res-ans8">How should an idea, incubator or project be promoted?</a></li>
<li><a href="#res-ans9">Is it useful to maintain an open approach to communicating about my idea, developments and project?</a></li>
<li><a href="#res-ans10">Can I see how all decisions were arrived at?/Are any decisions taken in private?</a></li>
<li><a href="#res-ans11">Is anything likely to be hidden from me or others in an open community?</a></li>
<li><a href="#res-ans12">Can I see all the information on the project?/Who can see all the information on the project?</a></li>
<li><a href="#res-ans13">Can there be barriers to use of knowledge from open projects?</a></li>
<li><a href="#res-ans14">Can there be barriers to use of knowledge from open projects? / Can technology put barriers in the way of using knowledge from a project?</a></li>
</ol>

<br />
<h1>Answers</h1>

<h2>Creating an Idea, Incubated Idea or Project</h2>

<h3><a id="create-ans1">Do I have to choose a project name?</a></h3>
<p>The 'Project Name' gives identity to the project just the same as branding a product. Ideally it would be unique to avoid confusion with anything else and certainly should not use a name that is protected or owned by a legal entity, e.g. as in a trademark. Just as with branding the name chosen can impact the acceptance and how memorable the project is. In Realise's 3 stages the project name can change from one stage to the next or indeed once the project is independent of Realise. Idea names are the most likely to change as many idea's may become a single incubator.</p>
<div class="answer"></div>

<h3><a id="create-ans2">How do I create an idea?</a></h3>
<p>Navigate to the Ideas Lab and chose an idea title and select 'submit' idea. Additional information will be requested. Further instructions can be found on the <a href="/help">help page</a>.</p>
<div class="answer"></div>

<h3><a id="create-ans3">How do I create an incubated idea?</a></h3>
<p>An incubated idea is developed from a current idea. To incubate an idea, select it, then select 'incubate'. Further instructions can be found on the <a href="/help">help page</a>.</p>
<div class="answer"></div>

<h3><a id="create-ans4">How do I create a project?</a></h3>
<p>Projects are created from incubated ideas once they have an 'openness rating' of 75% or more. To begin the 'openness rating' select the incubated idea manage page and select 'Get an openness rating'. Further instructions can be found on the <a href="/help">help page</a>.</p>
<div class="answer"></div>

<h3><a id="create-ans6">What is a Project URL?</a></h3>
<p>A URL is a web address seen in the address bar of most browsers. In todays world the way to make most people aware of the project and to find out what is happening is through the Internet so a project online presence, through at least a webpage, is important. Ultimately blogs for the project community to share and discuss things are also important. In Realise at some point during the incubator stage there should be a separate online presence, i.e. an independent webpage at least.</p>
<div class="answer"></div>

<h3><a id="create-ans7">Why do I  need to leave a contact name?</a></h3>
<p>When choosing to get fully involved in an open community  its useful for everyone in the community to know who you are. In Realise only named people associated with an Incubator or project stage entry have to provide their name. This is because the named people will be seen as leading the activity.</p>
<div class="answer"></div>

<h3><a id="create-ans8">Why do I  need to leave a contact e-mail?</a></h3>
<p>When choosing to get fully involved in an open community activity beyond knowing who you are its important that people can contact you. For any online activity the most obvious way to do this is through e-mail. Realise again expects people who lead incubator and project stage activities to provide this.</p>
<div class="answer"></div>

<br />
<h2>Openness Rating</h2>

<h3><a id="openness-ans1">What is the openness rating?</a></h3>
<p>The openness rating is a measure to indicate how open your project is. It is not a definitive list but instead guidance on areas that may need to be addressed.</p>
<div class="answer"></div>

<h3><a id="openness-ans2">Can anyone see my project's openness rating?</a></h3>
<p>Yes, anyone can see your openness rating using the openness rating report available from the incubated idea or project's profile page.</p>
<div class="answer"></div>

<h3><a id="openness-ans3">Can I update my project's openness rating</a></h3>
<p>Yes, it can be updated any time through the link in the incubated idea or project admin page. The previously answers will appear when editing the openness rating.</p>
<div class="answer"></div>

<br />
<h2>Idea and project management</h2>

<h3><a id="mang-ans1">Can I delete comments made about my idea, incubated idea or project page?</a></h3>
<p>Comments can be deleted by selecting the delete icon <img src="/presentation/images/slash-button.png" original-title="Delete icon"> on the right of a posted comment if you are the manager of the project. When an administer comments on an idea or project that comment cannot be deleted except by another administrator.</p>
<div class="answer"></div>

<h3><a id="mang-ans2">Can I delete an idea?</a></h3>
<p>You cannot delete any ideas, even your own. If you would like one removed please contact our web administrator. Contact details are on the <a href="/contact">contact us</a> page.</p>
<div class="answer"></div>

<h3><a id="mang-ans3">Can anyone comment on ideas, incubated ideas and projects?</a></h3>
<p>Yes, anyone can comment on ideas, incubated ideas and projects.</p>
<div class="answer"></div>

<h3><a id="mang-ans4">Can anyone vote on ideas or follow incubated ideas and projects?</a></h3>
<p>Yes, anyone can vote on ideas or follow incubated ideas and projects.</p>
<div class="answer"></div>

<h3><a id="mang-ans5">How do I become a team member?</a></h3>
<p>To become a team member you must be following an incubated idea or project. The team leader may then offer you the chance to become a team member.</p>
<div class="answer"></div>

<h3><a id="mang-ans6">How do I create an openness rating?</a></h3>
<p>To create an openness rating select manage on your incubated or project page. Follow the openness rating link at the top of the page and complete the openness rating form. Further instructions can be found on the <a href="/help">help page</a>.</p>
<div class="answer"></div>

<br />
<h2>Legal issues</h2>
<h3><a id="leg-ans1">Who can use the software?</a></h3>
<p>Everyone and anyone who has agreed to the terms of the licence(s) should have permission to run the software. Open source software is released under a licence so while it may appear to users that its simply 'free' it typically isn't free of some conditions. (<a href="http://www.oss-watch.ac.uk/resources/beginners.xml">What is open source software?</a>)</p>
<div class="answer"></div>

<h3><a id="leg-ans2">Can I see the source code of the software?/ Who can see the program?</a></h3>
<p>Of Realise itself, just those granted access by the project leadership. But for incubated projects or actual projects hosted on Realise then all members of the community.</p>
<div class="answer"></div>

<h3><a id="leg-ans3">Can I edit the software code?/Who can edit the source code?</a></h3>
<p>If the only person or people who can edit the program code is the original programmer(s) then the project is not 'open source' at all.  One of the main positive features of an open source program is that many people can be working to improve it or adding features. That is when one individual or group improves the program through adding open code, all the other community users and indeed developers obtain that improvement for free. The fewer programmers who can join in in improving the program the less likely is it that this benefit will happen and the less open the project is.  And, so the more programmers (coders) who can see the source code the better. (see <href="http://www.oss-watch.ac.uk/resources/iprguide.xml">OSS Watch ownership and licensing pages</a>)</p>
<div class="answer"></div>

<h3><a id="leg-ans4">Can I share the software with other people?/Who can give copies of the software to other people?</a></h3>
<p>If the only people who can redistribute modified or unmodified source code are the originators of the code this at least restricts the open, i.e. freely sharing, nature of open strategies. At a minimal level any restrictions will introduce more administration and management for those allowed to redistribute. At its worst restrictions could strangle access to the code to a single channel.( see <href="http://www.oss-watch.ac.uk/resources/iprguide.xml">OSS Watch ownership and licensing pages</a></p>
<div class="answer"></div>

<h3><a id="leg-ans5">What are common Free and Open Source Licences?</a></h3>
<p>Just like all software, open source software must be supplied with a license. To prevent thousands or more varieties of licenses being used two organisations (<a href="http://www.opensource.org/">OSI</a> and <a href="http://www.fsf.org/">FSF</a>) have good open license examples that anyone can use. These licenses help to make sure that the permission to use the software is open and that because the license is recognised people in the know can instantly understand the terms and conditions of use. Please contact <a href="http://www.opendirective.com/">Open Directive</a> or <a href="http://www.oss-watch.ac.uk/resources/licdiff.xml">OSS Watch</a>.</p>
<div class="answer"></div>

<h3><a id="leg-ans6">What are project dependencies and licence compatibilities?</a></h3>
<p>Project dependencies can be collections of code that need to be noted as belonging to someone or an organisation and the fact that they come with a licence for use which is compatible with the licence you are using for your project - see <a href="http://www.oss-watch.ac.uk/resources/iprguide.xml">OSS Watch ownership and licensing pages</a></p>
<div class="answer"></div>

<h3><a id="leg-ans7">Who is allowed to view my project's source code?</a></h3>
<p>If the only person or people who can see the program code in its human readable form are owners, e.g. original programmer(s) then the project is not 'open source' at all but 'closed'.  Programmers and sometimes others need to be able to see the code of the program to have a chance to make use of, add to or improve the code. This would be some-what open but if anyone can see the code and it is available for others to change say on <a href="https://github.com/">GitHub</a> or <a href="http://sourceforge.net">Source Forge</a> then it is more likely to be Open source but there may still be legal issues that need to be addressed (see <a href="http://www.oss-watch.ac.uk/resources/iprguide.xml">OSS Watch ownership and licensing pages</a>)</a></p>
<div class="answer"></div>

<h3><a id="leg-ans8">Can other people license your software under a different licence or can you change a licence on a piece of software that you want to develop further?</a></h3>
<p>If a piece of software has already been licensed say under a GPL v2 type licence - then the answer would be 'no' but there are licences that allow for sub-licensing and others with caveats so please ask an expert as copyright and intellectual property rights are at stake.  Please contact <a href="http://www.opendirective.com/">Open Directive</a> or <a href="http://www.oss-watch.ac.uk/resources/licdiff.xml">OSS Watch</a> and check the <a href="http://www.oss-watch.ac.uk/resources/cla.xml">OSS Watch Contributor Licence Agreements</a></p>
<div class="answer"></div>

<h3><a id="leg-ans9">Does an open source software licence give me the right to a patent?</a></h3>
<p>This is about having more exclusive rights to your product limiting others copying your idea. There is a debate about how helpful this is for open source development as sharing an idea can allow others to help with the development but in a commercial world this may mean someone takes the idea and turns it into a business.  The debate is discussed on the <a href="http://www.oss-watch.ac.uk/resources/softwarepatents.xml">OSS Watch software patents page</a></p>
<div class="answer"></div>

<h3><a id="leg-ans10">Why should I or someone else share any code developments?</a></h3>
<p>For some  software users at least it will be useful if they can access new or different versions that have other uses. Obviously a user may not be interested. However someone working in developing the software or business opportunities is interested to have access to new versions. So having access makes the project more open.  See <a href="http://www.oss-watch.ac.uk/resources/versioncontrol.xml">OSS Watch What is version control? Why is it important for due diligence?</a></p>
<div class="answer"></div>

<br />
<h2>Access information</h2>

<h3><a id="acc-ans1">Can I see all the information on the project?/Who can see all the information on the project?</a></h3>
<p>Members of the community - anyone who visits the site</p>
<div class="answer"></div>

<h3><a id="acc-ans2">Are there any reasons why access isn't free?/ Can I use the software for any purpose?</a></h3>
<p>Realise is required to consider how to make sure it can continue to exist after its original funding. This means that some of the knowledge may have to used to generate income. For Realise incubator and project software normally the aim is not to have any. But if some hardware is involved then this cannot be free.</p>
<div class="answer"></div>

<h3><a id="acc-ans3">Is it important to tell people the formats used for data and communication?</a></h3>
Making sure that all users of the software know what type of files and formats they need and what other software may be useful is important. Programmers couldn't join in without this information, people using the software would not know what files and formats they already have, or may find could be useful, etc. see <a href="http://www.oss-watch.ac.uk/resources/whoneedssource.xml">OSS Watch Benefits of open source code</a></p>
<div class="answer"></div>

<h3><a id="acc-ans4">Are there factors that could imply limits or costs to free use/re-use of the software?</a></h3>
<p>Relying on proprietary standards can mean limits to use of the open software. The more obvious case is cost but it could also include situations where the software can/cannot be used. For Realise and assistive technology there could be proprietary hardware as well. Provided the software is open this kind of solution can still be included on Realise. see <a href="http://www.oss-watch.ac.uk/resources/whoneedssource.xml">OSS Watch why is open source code useful</a></p>
<div class="answer"></div>

<h3><a id="acc-ans5">Are their any costs attached to using the information provided about the project or when purchasing a licence for use?</a></h3>
<p>Normally costs from using standards come from the fact that someone makes money from 'selling' use of them (e.g. proprietary standards). There may also be costs around the services offered for use of the software such as further support, training or system updates and maintenance. see <a href="http://www.oss-watch.ac.uk/resources/procurement-infopack.xml#body.1_div.4">OSS Watch Cost versus investment</a> and <a href="http://www.oss-watch.ac.uk/talks/2005-06-23-eunis/rahtz.xml ">Developing an open source policy</a></p>
<div class="answer"></div>

<h3><a id="acc-ans6">What do the acronyms for the standards I need to know about mean?</a></h3>
<p>The standards mentioned when checking to see if a project has been developed in a standard that matches its particular environment are as follows but there may be others that affect your particular project:

<ul>
<li><a href="http://www.w3.org/">W3C (The World Wide Web Consortium)</a> is an international community where Member organizations, a full-time staff, and the public work together to develop Web standards. Led by Web inventor Tim Berners-Lee and CEO Jeffrey Jaffe, W3C's mission is to lead the Web to its full potential.</li>

<li><a href="http://www.ieee-isto.org">IEEE (Institute of Electrical and Electronics Engineers)</a>- The IEEE Industry Standards and Technology Organization (IEEE-ISTO) was established in January 1999 as a global, not-for-profit corporation [501(c)(6)] designed to accelerate and extend standards development and adoption activities for technology industry consortia.</li>

<li><a href="https://www.oasis-open.org/">IETF (The Internet Engineering Task Force)</a> is a large open international community of network designers, operators, vendors, and researchers concerned with the evolution of the Internet architecture and the smooth operation of the Internet. It is open to any interested individual. http://www.ietf.org/</li>
OASIS (Organization for the Advancement of Structured Information Standards) is a not-for-profit consortium that drives the development, convergence and adoption of open standards for the global information society.</li>

<li><a href="http://www.iso.org/iso/home.html">ISO (International Organization for Standardization)</a> is the world's largest developer and publisher of International Standards. ISO is a network of the national standards institutes of 164 countries, one member per country, with a Central Secretariat in Geneva, Switzerland, that coordinates the system.</li>
</ul></p>
<div class="answer"></div>

<br />
<h2>Supplying information</h2>

<h3><a id="sup-ans1">Who can join in projects?/Who can contribute?</a></h3>
<p>Anyone who is part of the Realise community can contribute on the Realise site. Once a project has its own site the users of that site can contribute to that project.</p>
<div class="answer"></div>

<br />
<h2>REALSIE project management</h2>

<h3><a id="res-ans1">Who is leading the Realise project?/Who is involved in the Realise project?</a></h3>
<p>Mike Wald of the University of Southampton is the project lead. He is joined by EA Draffan and Seb Skuse also from Southampton, and Peter Cudd from the University of Sheffield and Devices for Dignity. The project meetings are minuted on http://access.ecs.soton.ac.uk/blog/realise/.</p>
<div class="answer"></div>

<h3><a id="res-ans2">How are people supposed to behave?/ Someone has been offensive, what can I do?</a></h3>
<p>As with most online communities you should not cause offence to other users.Messages should be courteous and appropriate. Posting of unsolicited commercial or advertising material is not allowed. Please alert us to any problems arising.</p>
<div class="answer"></div>

<h3><a id="res-ans3">How do I join in?/How do I take part?</a></h3>
<p>To contribute you can always either comment on entries already present or add a completely new idea, in some circumstances you can move an idea to the incubator or a project. For more information on how to take part go to the Realise homepage http://www.realisepotential.org/</p>
<div class="answer"></div>

<h3><a id="res-ans4">Who can join in projects?/Can I contribute?</a></h3>
<p>Anyone can contribute to Realise and its hosted ideas, incubated projects or actual projects.</p>
<div class="answer"></div>


<h3><a id="create-ans5">What is Realise aiming to achieve?</a></h3>

<div id="mediaplayer"></div>
<script type="text/javascript">
	jwplayer("mediaplayer").setup({
		flashplayer: "/presentation/lib/jwplayer/player.swf",
		file: "http://users.ecs.soton.ac.uk/mw/recordings/Mike%20Wald/Southampton_v3.mp4",
		width:700
	});
</script>
<div class="answer"></div>

<h3><a id="res-ans6">Do I need to document how I am managing my project?</a></h3>
<p>Once the idea has become a project it helps to use a system of management with time scales and work packages whether these follow a particular format or are based on a simple <a href="http://en.wikipedia.org/wiki/Gantt_chart">Gantt chart</a> using a spread sheet.  There are systems such as XP and SCRUMM that fall into the <a href="http://en.wikipedia.org/wiki/Agile_software_development">Agile software development methodology</a> or <a href="http://www.prince-officialsite.com/">Prince 2</a> which takes a more structured approach and tends to be used for larger projects. </p>
<div class="answer"></div>

<h3><a id="res-ans7">I have seen Unicode mentioned, what's that about?/ What is UTF8?</a></h3>
<p>Allowance for compatibility between software applications' data formats widens access and usability, UTF8 is widely used for the world wide web. Unicode ensures most browsers or other applications can read files that incorporate text. More details can be found through searching on the web for <a href="http://unicode.org/">'Unicode'</a> and/or <a href="http://unicode.org/resources/utf8.html">'UTF8'</a>.</p>
<div class="answer"></div>

<h3><a id="res-ans8">How should an idea, incubator or project be promoted?</a></h3>
<p>The main way that you can find information or communicate with projects is through the Internet. There are many aspects to promotion most important of which is to build a community (http://www.oss-watch.ac.uk/resources/buildingcommunities.xml)  and this needs to start at the earliest opportunity. <a href="http://sixrevisions.com/project-management/8-ways-to-promote-your-work-through-internet-collaboration/">8 Ways to Promote Your Work Through Internet Collaboration</a>.</p>
<div class="answer"></div>

<h3><a id="res-ans9">Is it useful to maintain an open approach to communicating about my idea, developments and project?</a></h3>
<p>Once it has been decided that an idea will move into the incubator  and later onto a project everyone should be kept involved and regularly informed about updates through REALSISE and a series of online resources. see <a href="http://www.oss-watch.ac.uk/resources/buildingcommunities.xml">OSS Watch Building Communities</a>.</p>
<div class="answer"></div>

<h3><a id="res-ans10">Can I see how all decisions were arrived at?/Are any decisions taken in private?</a></h3>
<p>If you are a sole developer or project managing a complex system it may help to reflect publicly on your concerns and question decisions and if you are a team you may wish to open up the minutes of meetings - Open innovation (http://en.wikipedia.org/wiki/Open_innovation) can encourage others to engage and it may be that only those items that are personal in nature need to be kept hidden from the public forum.  This allows an open source project to be open at its heart and engage all stakeholders see <a href="http://www.gen3partners.com/insights/articles/open-innovation-perspective.html">Gen3 Partners on Open Innovation</a>.</p>
<div class="answer"></div>

<h3><a id="res-ans11">Is anything likely to be hidden from me or others in an open community?</a></h3>
<p>Sometimes release of all knowledge can be harmful and this may mean releasing information in a managed way. Situations that relate to security of functioning of the community website is a classic example of potentially harmful knowledge.  In general wherever possible open projects should avoid keeping any knowledge private - as this is contradictory to being open. See <a href="http://www.oss-watch.ac.uk/resources/releasemanagementbestpractice.xml">OSS Watch Best practice in release management for open source projects</a>.</p>
<div class="answer"></div>

<h3><a id="res-ans12">Can I see all the information on the project?/Who can see all the information on the project?</a></h3>
<p>The 'open' source or 'innovation' approach implicitly requires openness with members of the community. So all members of the open community should have access. This means that not only should information about the project and its progress be easy to find but also accessible to all users following <a href="http://www.w3.org/WAI/intro/wcag.php">WCAG 2.0</a> and <a href="http://www.hassellinclusion.com/2012/03/bs-8878-in-88-seconds/">BS 8878 guidelines for accessibility.</a></p>
<div class="answer"></div>

<h3><a id="res-ans13">Can there be barriers to use of knowledge from open projects?</a></h3>
<p>Access to knowledge of an open project is ideally free and with no strings or restrictions. The more barriers or restrictions the less openness. Its worth noting some open collaboration licences agreements place re-use and /or sharing obligations on members of the community, see <a href="http://www.oss-watch.ac.uk/resources/cla.xml">OSS Watch Contributor Licence Agreements</a></p>
<div class="answer"></div>

<h3><a id="res-ans14">Can there be barriers to use of knowledge from open projects? / Can technology put barriers in the way of using knowledge from a project?</a></h3>
<p>It is possible to put various technical protection systems in place that can prevent the copying of content, code and information - this can occur where Digital Rights Management has been used due to copyright legislation and other legal restrictions.  This is not always conducive to open innovation but is used by publishers, hardware and software companies to protect their assets.</p>
<div class="answer"></div>