
<h1>MORE INFO</h1>
<ul>
	<li><a href="http://www.oss-watch.ac.uk/resources/howtobuildcommunity.xml">Building a community</a></li>
	<li><a href="http://www.oss-watch.ac.uk/resources/opensourceyourcode.xml">Licences</a></li>
	<li><a href="http://www.oss-watch.ac.uk/resources/versioncontrol.xml">Tracking and bug fixing</a></li>
	<li><a href="http://www.oss-watch.ac.uk/resources/sourceforge.xml">Where to keep your code</a></li>
	<li><a href="http://www.w3schools.com/quality/quality_accessibility.asp">Accessibility</a></li>
</ul>