<script language="javascript">
	function confirmSubmit(){
		var agree=confirm("Are you sure you wish to reset your project's openness rating?\n\nWarning: This cannot be reversed!");
		if (agree)
			return true ;
		else
			return false ;
		}
</script>

<div class="olienness-sections">
	<h1>Openness Rating Sections</h1>
	
	
	<p><a href="/opennessrating/?id={sidecontent_pageid}"><b>Introduction</b></a></p>
	<ol>
		<li><b><a href="/opennessrating/info/?id={sidecontent_pageid}">Project Information</a></b></li>
		<li><b><a href="/opennessrating/legal/?id={sidecontent_pageid}">Legal</a></b></li>
		<li><b><a href="/opennessrating/standards/?id={sidecontent_pageid}">Data Formats and Standards</a></b></li>
		<li><b><a href="/opennessrating/knowledge/?id={sidecontent_pageid}">Knowledge</a></b></li>
		<li><b><a href="/opennessrating/governance/?id={sidecontent_pageid}">Governance</a></b></li>
		<li><b><a href="/opennessrating/market/?id={sidecontent_pageid}">Market</a></b></li>
	</ol>
	
	<div class="alert {alert-colour}" id="openness-complete">
		Current openness rating score:  {openness-rating}
	</div>
	
	<div id="openness-reset">
		<form method="post" action="/opennessrating/resetOpenness">
			<input id="id" class="inputtext" type="hidden" value="{sidecontent_pageid}" name="project_id">
			<input type="submit" value="Reset Openness Rating" class="openness-submit" onClick="return confirmSubmit()">
		</form>
	</div>
</div>