<br style="clear:both" />

<h1><img src="/presentation/images/list-accept.png" alt="" /> Software sustainability</h1>
	<ul>
		<li><a href="http://oss-watch.ac.uk/resources/ssmm.xml">Factors affecting sustainability</a></li>
	</ul>


<h1><img src="/presentation/images/1303209607_source_code.png" /> Licences</h1>

<ul>
	<li><a href="http://www.oss-watch.ac.uk/_site/apps/licdiff/" target="_blank">OSSWatch licencing tool</a></li>
</ul>
<h1><img src="/presentation/images/1303209961_Library.png" alt="governance" /> Governance</h1>

<ul>
	<li><a href="http://fullmeasure.co.uk/REALISE/" target="_blank">Community Explorer tool</a> </li>
</ul>