<br style="clear:both" />


<h1>Rate your project management</h1>
	<ul>
		<li><a href="#">Openness Rating</a></li>
		<li><a href="http://oss-watch.ac.uk/resources/ssmm.xml">Factors affecting sustainability</a></li>
	</ul>


<h1>Licences</h1>

<a href="http://bombax.oucs.ox.ac.uk:8888/wookie/wservices/www.getwookie.org/widgets/licdif/index.html?idkey=QzxbOmjsYntVsnQecviCcvsDZvU.eq.&proxy=http://bombax.oucs.ox.ac.uk:8888/wookie/proxy&st=wookie:i6NeIeZw8l8v6YhsuC/zQr5IxkhUiTAcT3UbHVc3YNS4GNwbkyhT/r2wujQYgv/eNmvZpTHPhopQ8vmTKqFhJEuoZ4sn0dgIzExzA06X7qhgRT0D%2BKzbdki6Q4rNXgltRUgEbQZ4HJomflCm6M4xO2sdwLXHlh99UeiVdCC9Cc7XaCGWlZRvJ8TBLT4ZBLtTsZwuZRycSVNZB5LG%2BxquSkGvnaI%3D" target="_blank">OSSWatch licencing tool</a>

<h1>Governance</h1>

<a href="http://fullmeasure.co.uk/REALISE/" target="_blank">Community Explorer tool</a> 