<div id="user_login">
	<form method="post" action="/auth/local">
		<label for="username">Username</label> <input type="text" name="username" id="username" />
		<label for="password">Password</label> <input type="password" name="password" id="password" />
		<div style="float:right"><input type="submit" id="login" value="Login" /></div>
		<p style="float:left"><a href="/auth/linkedin" id="linkedInLogin"><img src="/presentation/images/linkedin.png" alt="Log in with LinkedIn" style="float:left; margin-right:5px;" />Or log in with  LinkedIn</a></p>
	</form>
</div>	