<div class="olienness-sections">
	<h1>Openness Rating Sections</h1>
	
	
	<p><a href="/opennessrating"><b>Openness rating information page</b></a></p>
	<ol>
		<li><b><a href="/opennessrating/info">Project Information</a></b></li>
		<li><b><a href="/opennessrating/legal">Legal</a></b></li>
		<li><b><a href="/opennessrating/standards">Data Formats and Standards</a></b></li>
		<li><b><a href="/opennessrating/knowledge">Knowledge</a></b></li>
		<li><b><a href="/opennessrating/governance">Governance</a></b></li>
		<li><b><a href="/opennessrating/market">Market</a></b></li>
	</ol>
</div>