<h2><img src="/presentation/images/1303210047_x-office-presentation.png" /> Presentations</h2>
<ul>
	<li><a href="http://www.synote.org/synote/recording/replay/50321/0">Ross Gardler discusses Open Source Licensing and Business Models</a></li>

	<li><a href="http://www.synote.org/synote/recording/replay/51750/0">Steve Lee discusses Community and Governance</a></li>
</ul>

<p>What Realise is trying to achieve</p>

<div id="mediaplayer2"></div>
<script type="text/javascript">
	jwplayer("mediaplayer2").setup({
		flashplayer: "/presentation/lib/jwplayer/player.swf",
		file: "http://users.ecs.soton.ac.uk/mw/recordings/Mike%20Wald/Southampton_v3.mp4",
		width:320
	});
</script>