<div class="question question-scale">
	<h3>{question_id}. {question}</h3>
	<p>{sub_question} <span class="info">{info}</span></p>

	<table id="knowledge_13" cellspacing="0" cellpadding="5" border="0">
		<tbody>
		<tr>
			<td class="table_column"></td>
			<td class="table_column">
				<label class="table_column" for="{section}-{answer_id}-0">{answer0}</label>
			</td>
			<td class="table_column">
				<label class="table_column" for="{section}-{answer_id}-1">{answer1}</label>
			</td>
			<td class="table_column">
				<label class="table_column" for="{section}-{answer_id}-2">{answer2}</label>
			</td>
			<td class="table_columns">
				<label class="table_column" for="{section}-{answer_id}-3">{answer3}</label>
			</td>
			<td class="table_columns">
				<label class="table_column" for="{section}-{answer_id}-4">{answer4}</label>
			</td>
			<td class="table_columns">
				<label class="table_column" for="{section}-{answer_id}-5">{answer5}</label>
			</td>
			<td class="table_columns"></td>
		</tr>
		<tr>
			<td class="table_row table_leftlabel">No user documentation</td>
				{answers}
			<td class="table_row table_rightlabel">easy to access, easy to read, complete and highly appropriate for users</td>
		</tr>
		</tbody>
	</table>
</div>