<div id="regHolder">

	<h1>Registration</h1>

	<div class="regForm">
		<form method="post" action="auth/register" id="regForm">
			<label for="username">Username</label> <input type="text" name="username" id="username" /><br />
			<label for="password">Password</label> <input type="password" name="password" id="password" /><br />
			<label for="name">Name</label> <input type="text" name="name" id="name" /><br />
			<label for="email">Email</label> <input type="text" name="email" id="email" /><br />
			<p style="text-align:center">
			<input type="submit" id="register" value="Register" />
			</p>
			<br style="clear:both" />
			<p style="text-align:center"r>
			<a href="/auth/linkedin" style="line-height:25px; display:block; width:160px"><img src="/presentation/images/linkedin.png" alt="Log in with LinkedIn" style="float:left; margin-right:5px;" />Or log in with  LinkedIn</a></p>
		</form>
	</div>

</div>