<h1><a href="/help"><img src="/presentation/images/1303209929_information2.png" /> HELP</a></h1>
<h1><a href="/resources/faq"><img src="/presentation/images/1303209929_information2.png" /> FAQ</a></h1>
<h1><a href="http://access.ecs.soton.ac.uk/blog/realise/">NEWS</a></h1>
<p>Jisc release a Realise video</p>
<div id="mediaplayer"></div>
<script type="text/javascript">
	jwplayer("mediaplayer").setup({
		flashplayer: "/presentation/lib/jwplayer/player.swf",
		file: "http://users.ecs.soton.ac.uk/mw/recordings/Mike%20Wald/Southampton_v3.mp4",
		width: 320
	});
</script>