<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Project Realise</title>
		 <link href='media/css/main.css' rel='stylesheet' type='text/css'/>
	</head>
	<body>
		<div id="wrapper">
			<div id="logo"><img src="media/images/realise-logo-final-small.png" /></div>
			<div id="topMenu"><a href="#"><img src="media/images/linkedin.png" /> Sign in</a></div>
			<div id="contentWrapper">
				<div id="tabs">
					<a href="{base-url}" id="tabHome" class="tab"><img src="media/images/home.png" /> HOME</a> <a href="#" id="tabIdea" class="tab selected"><img src="media/images/lightbulb.png" /> IDEA LAB</a> <a href="/incubator" id="tabIncubator" class="tab"><img src="media/images/plant.png" /> INCUBATOR</a> <a href="#" id="tabProjects" class="tab"><img src="media/images/briefcase.png" /> PROJECTS</a>
				</div>
				<div id="breadcrumb"><div id="crumbTitle">Ideas</div> <div class="tag">[tag]</div> <div class="tag">[tag]</div></div>
				<div id="content">
					<div id="contentPane">
					
						<!-- IDEA LAB -->
						<div id="ideaLab">
							<input id="ideaBox" type="text" placeholder="Got an idea?" />
							
							<div id="filters">Recent Activity</div>
							
							<div id="ideaHolder">
								<div class="idea">
									<div class="ideaContent">
										<div class="header">Android for toasters </div>
										<div class="image"><img src="media/images/placeholder_thumb.png" alt="thumbnail" /></div>
										<div class="pitch"> Android. Toasters.</div>
									</div>
									<div class="progress"><img src="media/images/medal-bronze.png" /></div> <div class="points">22</div>
								</div>
								<div class="idea">
									<div class="ideaContent">
										<div class="header">Something for someone else </div>
										<div class="image"><img src="media/images/placeholder_thumb.png" alt="thumbnail" /></div>
										<div class="pitch"> Something...</div>
									</div>
									<div class="progress"><img src="media/images/medal-silver.png" /></div> <div class="points">80</div>

								</div>
								<div class="idea">
									<div class="ideaContent">
										<div class="header">A great idea</div>
										<div class="image"><img src="media/images/placeholder_thumb.png" alt="thumbnail" /></div>
										<div class="pitch"> A pitch</div>
									</div>
									<div class="progress"><img src="media/images/medal.png" /></div> <div class="points">178</div>
								</div>
								<div class="idea">
									<div class="ideaContent">
										<div class="header">Android for toasters </div>
										<div class="image"><img src="media/images/placeholder_thumb.png" alt="thumbnail" /></div>
										<div class="pitch"> Android. Toasters.</div>
									</div>
									<div class="progress"><img src="media/images/medal-bronze.png" /></div> <div class="points">22</div>
								</div>
								<div class="idea">
									<div class="ideaContent">
										<div class="header">Something for someone else </div>
										<div class="image"><img src="media/images/placeholder_thumb.png" alt="thumbnail" /></div>
										<div class="pitch"> Something...</div>
									</div>
									<div class="progress"><img src="media/images/medal-silver.png" /></div> <div class="points">80</div>

								</div>
								<div class="idea">
									<div class="ideaContent">
										<div class="header">A great idea</div>
										<div class="image"><img src="media/images/placeholder_thumb.png" alt="thumbnail" /></div>
										<div class="pitch"> A pitch</div>
									</div>
									<div class="progress"><img src="media/images/rocket-fly.png" /></div> <div class="points">2000</div>
								</div>
							</div>
						</div>
						
						<!-- /IDEA LAB -->
						
					</div>
					<div id="menu">
						<!-- IDEA LAB -->
							<h1>LATEST</h1>
							
							<ul>
								<li class="newideas">A new idea <span class="smGrey">(Idea)</span></li>
								<li class="newincubated">An incubated project <span class="smGrey">(Incubator)</span></li>
								<li class="newproject">A project <span class="smGrey">(Project)</span></li>
							</ul>
							
							
							<h1>NEW INNOVATORS</h1>
							<div class="innovator">
								<img src="media/images/avatar.png" />
								<div class="name">Contoso AT</div>
								<div class="info">Developers of AT products</div>
							</div>
							
							<div class="innovator">
								<img src="media/images/avatar.png" />
								<div class="name">E.A. Draffan</div>
								<div class="info">Accessibility Specialist at University of Southampton</div>
							</div>
						<!-- /IDEA LAB -->
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
			<div id="footer">&copy; 2010</div>
		</div>
	</body>
</html>
