
<h3>Using the REALISE Market Place</h3>
<p>Anyone can browse, read about and learn more about the REALISE Market Place without registering on the site but it will not be possible to collaborate or add ideas.</p>

<p>Select below to get help on the topic you require. Alternatively view the <a href="/resources/faq" >frequently asked questions (FAQ) pages.</a></p>

<ul>
	<li><a href="#register-help">Register</a></li>
	<li><a href="#create-idea">Creating a new idea</a></li>
	<li><a href="#incubate-idea">Incubate an Idea</a></li>
	<li><a href="#progress-project">Progressing an Incubated Idea to a Project</a></li>
</ul>


<a id="register-help"><h3>Register</h3></a>

<a href="/presentation/images/help/1-register.png"><img src="/presentation/images/help/1-register.png" alt="register" width="447" height="108" /></a>
<p>You must be registered or sign in to submit an idea or manage projects. To register or sign in, select the relevant option at the top lefthand side of the screen.  There is a <a href="http://www.linkedin.com/">Linkedin</a> login option.</p>

<a href="/presentation/images/help/2-register2.png"><img src="/presentation/images/help/2-register2.png" alt="register 2" width="300" height="225" /></a>

<p>A unique user name and email address is required (an alternative display name can be used once registered) along with a suitable strength password.</p>

<a id="create-idea"><h3>Creating a new idea</h3></a>

<p>To create an idea navigate to the <a href="http://www.realisepotential.org/idea">Idea Lab</a>. Type the name of the idea into the edit boxand select submit to reach a page that requires a short overview of the idea.  A more lengthy description can be added later.</p>
<a href="/presentation/images/help/3-newidea.png"><img src="/presentation/images/help/3-newidea.png" alt="new idea" width="300" height="155" /></a> 

<br />
<p></p>

<a href="/presentation/images/help/4-newideatags.png"><img src="/presentation/images/help/4-newideatags.png" alt="new idea tags" width="300" height="78" /></a>

<p>Tags should also be chosen to aid future searches, along with a relevant category and an image if possible.</p>

<a href="/presentation/images/help/5-ideapage.png"><img src="/presentation/images/help/5-ideapage.png" alt="ideas page" width="300" height="236" /></a>

<p>Your idea once submitted has a separate page. Here information and links are displayed and comments can be added by any user. To manage your idea simply select '<strong>Manage</strong>' on the Idea page.</p>

<a id="incubate-idea"><h3>Incubate an Idea</h3></a>

<a href="/presentation/images/help/6-incubate.png"><img src="/presentation/images/help/6-incubate.png" alt="incubate" width="280" height="300" /></a>

<p>If you are ready to take your or anyone else’s idea further, select the idea from the <a href="http://www.realisepotential.org/idea">Ideas Lab</a> and then select '<strong>Incubate</strong>'.</p>

<p>Ideas in the <a href="http://www.realisepotential.org/incubator">Incubator</a> have a similar look and feel to those in the Ideas Lab - allowing users to add comments and see the incubated idea information.

Fill in the title and descriptive information as well as other items if you are managing the project for example the:
<ul>
	<li>Image</li>
	<li>Project URL</li>
	<li>Licence</li>
	<li>Your community</li>
	<li>Tracking and bug fixes</li>
	<li>Repository URL</li>
</ul>
</p>

<a href="/presentation/images/help/7-incubatedproject.png"><img src="/presentation/images/help/7-incubatedproject.png" alt="incubated project" width="300" height="184" /></a>
<p>There are several document links on the right hand side of the page that can help with decision making regarding aspects of managing an open innovation project.</p>

<p>There is also the '<strong>Openness Rating</strong>' that can be completed to show how open a project is becoming.  Mentors are on hand to help with this aspect and you can find them on the <a href="http://www.realisepotential.org/community">Community Page</a> with a star by their name.  An example of a project that has a mentor is <a href="http://www.realisepotential.org/project/1">ATbar</a>.</p>

<a id="progress-project"><h3>Progressing an Incubated Idea to a Project</h3></a>

<p>To turn an incubated idea into a project an Openness Rating of 75% or more is required. It is possible to continue to add to the Openness Rating at any time <strong>but it is essential that each section is saved as it is completed.</strong></p>

<a href="/presentation/images/help/8-getopennessrating.png"><img src="/presentation/images/help/8-getopennessrating.png" alt="get openness rating" width="300" height="144" /></a>

<p></p>

<a href="/presentation/images/help/9-opennessratingtest.png"><img src="/presentation/images/help/9-opennessratingtest.png" alt="openness rating test" width="150" height="150" /></a>

<p>The <a href="http://www.oss-watch.ac.uk/resources/ssmm.xml">openness rating was constructed by OSS Watch </a> as discussed in their Software Sustainability Maturity Model, to ensure projects are as open as possible.</p>

<a href="/presentation/images/help/10-manageincubated.png"><img src="/presentation/images/help/10-manageincubated.png" alt="manage incubated" width="300" height="145" /></a>

<p>To move your project from the Incubator to the <a href="http://www.realisepotential.org/project">Projects Page</a> select '<strong>Manage</strong>' and then at the bottom of the page select '<strong>Promote</strong>'. This will create a Project.</p>

<a href="/presentation/images/help/11-promote.png"><img src="/presentation/images/help/11-promote.png" alt="promote" width="300" height="92" /></a>

<p>The project page is much the same as the ideas and incubated ideas pages. Information about the project is displayed along with comments and links to those who are following its progress on the right hand side.</p>

<a href="/presentation/images/help/12-projectLG.png"><img src="/presentation/images/help/12-projectLG.png" alt="project LG" width="300" height="154" /></a>