<div id="helpPane">
	<h1>Creating an idea in REALISE</h1>
	
	<div style="float:left; width:40%">To create an idea in REALISE, the first thing you must do is register. At the top right of every page on REALISE is a sign in and register link.</div>
	
	<img src="presentation/images/help/1-register.png" align="right" alt="Registration links" />
	<img src="presentation/images/help/2-register2.png" align="right" alt="Registration screen" />
	
	<br class="" />
	
	<h2>Creating an Idea</h2>
	<p></p>
	
	<h2>Incubating an Idea</h2>
	<p></p>
	
	<h2>Creating a Project</h2>
	<p></p>
</div>