<div style="margin-left:20px; margin-right:10px;">
<h1>Who is REALISE for?</h1>
<p>
REALISE could be for you if you have an idea for some software to help people who struggle with activities of daily living, or who find it difficult to use existing technology technology.
</p>

<div id="ideaHolder" class="holder">
	<a class="selected" href="#"><img src="presentation/images/lightbulb.png" /> 1. Idea</a>
	<div class="hidden">
			<h2>What is an idea in REALISE?</h2>
			<p>An idea can be anything. For example it might be a problem such as using a remote control or software program. Or it could be a solution, such as a text-to-speech app. Other people can comment on the idea and it can be taken forward to the Incubator.</p>
			<p><a href="/idea">More Information</a></p>
	</div>
</div>

<div id="incubatorHolder" class="holder">
	<a href="#"><img src="presentation/images/plant.png" /> 2. Incubator</a>
	<div class="hidden">
		<h2>What is an incubated idea in REALISE?</h2>
		<p>In the incubator a group with a possible leader tries to get an idea turned into a project. To do this one or more developers design a solution whilst working with those who submitted an idea or problem. The incubator also allows for open discussion on the idea, so that it may be turned into a fully-fledged project in future.</p>
		<p>Researchers may show their interest by suggesting and developing solutions and by offering to collect evidence that solutions do in fact work.</p>
		<p><a href="/incubator">More Information</a></p>
	</div>
</div>

<div id="devHolder" class="holder">
	<a href="#"><img src="presentation/images/briefcase.png" /> 3. Projects</a>
	<div class="hidden">
		<h2>What is a project in REALISE?</h2>
		<p>Once an Incubated Idea is approved, your idea will then officially become a project. The projects will normally be open and have their own on-line website and network of interested people, especially those trialling the outcomes. At any stage commercial companies or researchers can become involved in the project and help further its progress. Agreements can then be made with those companies, which can be kept to until the end of the project.</p>
		<p><a href="/project">More Information</a></p>
	</div>
</div>

<div id="exposeHolder" style="clear:both">Loading...</div>

</div>
