<div style="margin-left:20px; margin-right:10px;">
<h1>Welcome to REALISE!</h1>

<div style="text-align:center">'Realising Potential through Partnerships'</div>
<p>
Realise is a free on-line tool to help people develop new software technologies that make using the Internet, computers and mobile devices easier for people who struggle with these systems. 
We hope that people who need this kind of help or their carers and professionals that supply or make these kinds of technology will all join in. 
</p>

<h2>How it works</h2>

<h3 class="ideasHeader">Ideas</h3>
<p>
Realise is completely open, everyone who uses the site can see what everyone else has entered and anyone can enter ideas. The ideas can be from someone saying "I need help with a problem" or someone suggesting a solution. 
Other people can then comment on the idea. If enough people show an interest in an idea and someone wants to take the idea forward it can be changed and move into what we have called the 'incubator'. 
</p>

<h3 class="incubatorHeader">The Incubator</h3>
<p>
In the incubator a group with a possible leader tries to get a 'project' going - that is one or more developers designing a solution whilst working with those who submitted an idea or problem. 
When it comes to considering the idea as a project it may or may not be funded at this stage. 
</p>

<h3 class="projectsHeader">Projects</h3>
<p>
The projects will normally be open and have their own on-line website and network of interested people especially those trialling the outcomes. At any stage commercial companies or researchers can become involved and may often lead at the incubator or project stages. 
In the end companies may make money out of a project but will need to keep to any agreements during the development stages. 
</p>

<p>
Researchers may show their interest by suggesting and developing solutions and by offering to collect evidence that solutions do in fact work. 
</p>
</div>