<div style="margin-left:20px; margin-right:10px;">
<h1>What is REALISE?</h1>

<h1>Who is REALISE for?</h1>
<div id="ideaHolder" class="holder">
	<a class="selected" href="#"><img src="presentation/images/lightbulb.png" /> 1. Idea</a>
	<div class="hidden">
		<ol>
			<li>What is an idea in REALISE?</li>
			<li>Got a need you want to share?</li>
			<li><ul>
					<li>Search for an existing idea</li>
					<li>Submit a new idea</li>
					<li>How do I create a community around my need?</li>
			</ul></li>
			<li>Do you think you can help address a need?</li>
			<li><ul>
				<li>What need are you solving?</li>
				<li>Is it an existing product or a concept only?</li>
			</ul></li>
			<li>What's next?</li>
			<li><ul>
				<li>Find a mentor to guide you through the REALISE process</li>
				<li>Once there are appropriate contributors to a potential solution you can take the idea into the incubator</li>
			</ul></li>
		</ol>
	</div>
</div>

<div id="incubatorHolder" class="holder">
	<a href="#"><img src="presentation/images/plant.png" /> 2. Incubator</a>
	<div class="hidden">
		<ol>
			<li>What is an Incubating Idea in REALISE?</li>
			<li>Work with people to address needs</li>
			<li><ul>
				<li>Find and track people / contributors / team</li>
				<li>Find and track a potential solution</li>
			</ul></li>
			<li>What next?</li>
			<li><ul>
				<li>Find a mentor to guide you through the REALISE process</li>
				<li>Once you are convinced of the validity of your proposed solution and community you can create a Development project and get to work</li>
				<li>Contribute to a project</li>
			</ul></li>
		</ol>
	</div>
</div>

<div id="devHolder" class="holder">
	<a href="#"><img src="presentation/images/briefcase.png" /> 3. Development</a>
	<div class="hidden">
		<ol>
			<li>What is a development project in REALISE?</li>
			<li>Evaluate the projects sustainability for your needs</li>
			<li><ul>
				<li>Software Sustainability Maturity Model</li>
				<li>Technical Evaluation</li>
			</ul></li>
			<li>How can I participate?</li>
			<li><ul>
				<li>User?</li>
				<li>Developer</li>
				<li>Company / Project</li>
				<li>Mentor</li>
			</ul></li>
		</ol>
	</div>
</div>

<div id="exposeHolder" style="clear:both">Loading...</div>

</div>