<br style="clear:both" />

	<p class="info">
		<b>Interested in taking an idea into the incubator?</b><br /><br />
		The documents below may help you turn your idea into an Open Source project.
		If you would like to discuss ideas or are interested in this market place do contact us via our <a href="http://groups.google.com/group/project-realise">Google Group</a>
	</p>

<br style="clear:both" />

<iframe width="320" height="239" src="http://www.youtube.com/embed/gFry61WUYGg" frameborder="0" allowfullscreen></iframe>

<br style="clear:both" />