<!-- IDEA LAB -->
<div id="ideaLab">
	<div id="exposeHolder" style="clear:both">
		<h2>The Idea Lab</h2>
		<p>If you have an Idea that you want to share with the community, please write your idea in the box below. Once you select 'Submit', you can fill in more details about your idea.  Next task  Link to the rest of the text below

Once you have filled in the details about your idea contact your friends and colleague, see what they think, ask for comments to help your idea begin its journey. If enough people show an interest in an idea and someone wants to take the idea forward it can be changed and move into what we have called the 'incubator'. Please note that you must be registered to submit an idea.
</p>

	</div>
	
	<form id="newIdea" action="/idea/new" method="post">
		<input name="idea" id="ideaBox" type="text" placeholder="Got an idea?" style="float:left; margin-left:42px" /><button style="height:44px; margin-left:10px">Submit idea</button>
	</form>
	<div id="filters"><a href="#" class="recent">Mine</a>  <a href="#" class="recent">My Interest</a> <a href="#" class="recent selected">Recent</a></div>
	<br style="clear:both" />
	
	<div id="ideaHolder">
		{recentIdeas}
	</div>
	
	<div id="pagination">
		{pages}
	</div>
</div>

<!-- /IDEA LAB -->