<!-- IDEA LAB -->
<div id="ideaLab">
	<div id="exposeHolder" style="clear:both">
		<h2>The Idea Lab</h2>
		<p>An idea can be anything from someone saying "I need help with a problem" to someone suggesting a solution. Other people can then comment on the idea. If enough people show an interest in an idea and someone wants to take the idea forward it can be changed and move into what we have called the 'incubator'.</p>

	</div>
	
	<form id="newIdea" action="/idea/new" method="post">
		<input name="idea" id="ideaBox" type="text" placeholder="Got an idea?" style="float:left; margin-left:42px" /><button style="height:44px; margin-left:10px">Submit idea</button>
	</form>
	<div id="filters"><a href="#" class="recent">Mine</a>  <a href="#" class="recent">My Interest</a> <a href="#" class="recent selected">Recent</a></div>
	<br style="clear:both" />
	
	<div id="ideaHolder">
		{recentIdeas}
	</div>
</div>

<!-- /IDEA LAB -->