<div id="ideaLab">
		<div id="exposeHolder" style="clear:both">
		<h2>The Incubator</h2>
		<p style="text-align: left;">The incubator is for ideas that have the potential to be a project. Here the idea can be developed using suggestions from any user.

For your incubated idea to become a project, it must have an openness rating of 75% or more. The openness rating system was developed by <a href="http://www.oss-watch.ac.uk/">OSS Watch</a> to ensure projects are open source. Should your incubated idea achieve this then it can become a project.</p>
	</div>
	
	<div id="ideaHolder">
		{recentIdeas}
	</div>
	
	<div id="pagination">
		{pages}
	</div>
</div>
