<div id="ideaLab">
		<div id="exposeHolder" style="clear:both">
		<h2>The Incubator</h2>
		<p>In the incubator a group with a possible leader tries to get an idea turned into a project. To do this one or more developers design a solution whilst working with those who submitted an idea or problem. The incubator also allows for open discussion on the idea, so that it may be turned into a fully-fledged project in future.</p>
		<p>Researchers may show their interest by suggesting and developing solutions and by offering to collect evidence that solutions do in fact work.</p>
	</div>
	
	<div id="ideaHolder">
		{recentIdeas}
	</div>
</div>
