
<h2>Legal</h2>
<p>The "Website" is defined as realisepotential.prg and realizepotential.org.</p>
<!--<p>"We", "Our" and "Us" is defined as [TBA].</p>-->
<p>The Website may be used for lawful purposes only. Please check your local laws and regulations for details.</p>
You may not attempt to 'overload' the server/s of the Website, or access protected areas without authorisation, through any means.<p></p>
<p>We reserve the right to change specifications prior to and without notice.</p>
<p>By accessing the Website, you agree to the terms in this document.</p>
<p>Illustrations and photographs have been supplied  by participants in the REALISE project, members of the team or from the licensed  Microsoft¨ Office Clip Art library on the understanding they will not  be used for commercial purposes and are in agreement with the <a href="http://office.microsoft.com/en-us/FX100750911033.aspx?mode=nochrome">Microsoft Service  Agreement last updated September 2007 </a></p>
<p>We have tried to ensure that we have cleared all the rights for all the material on this website. If there is anything which we shouldn't be using, will the copyright owners please email us so that we can remove them. No breach of copyright is intended. E-mail: <a href="mailto:ead@ecs.soton.ac.uk">ead@ecs.soton.ac.uk</a>.</p>
<p>We are not responsible for the content contained on the pages of third party websites that we offer links to. We have no control over these pages, and they may change without notice.
These links are provided only for your convenience. Any link is not an endorsement of that particular third party website.</p>