<div id="ideaLab">
		<div id="exposeHolder" style="clear:both">
		<h2>Projects</h2>
		<p style="text-align: left;">Once an incubated idea is approved, your idea will then officially become a project.	The projects will normally be open and have their own on-line website and network of interested people, especially those trialling the outcomes.
		At any stage commercial companies or researchers can become involved in the project and help further its progress. Agreements can then be made with those companies.</p>
	</div>
	
	<div id="ideaHolder">
		{recentIdeas}
	</div>

	<div id="pagination">
		{pages}
	</div>
</div>
