<div id="resources">
	<div class="emptech">
		<h1>Other open source software</h1>
		{emptech}
	</div>

	<h2>What Realise is trying to achieve</h2>

<div id="mediaplayer"></div>
<script type="text/javascript">
	jwplayer("mediaplayer").setup({
		flashplayer: "/presentation/lib/jwplayer/player.swf",
		file: "http://users.ecs.soton.ac.uk/mw/recordings/Mike%20Wald/Southampton_v3.mp4",
		width:700
	});
</script>

	<h2>YouTube videos related to open source assistive technology</h2>
	<object width="320" height="225"><param name="movie" value="http://www.youtube.com/p/6931988D67BE162E?hl=en_GB&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/p/6931988D67BE162E?hl=en_GB&fs=1" type="application/x-shockwave-flash" width="320" height="225" allowscriptaccess="always" allowfullscreen="true"></embed></object>		

</div>

