<div id="resources">
	<div class="emptech">
		<h1>Other open source software</h1>
		{emptech}
	</div>

	<h2>YouTube videos related to open source assistive technology</h2>
	<object width="320" height="225"><param name="movie" value="http://www.youtube.com/p/6931988D67BE162E?hl=en_GB&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/p/6931988D67BE162E?hl=en_GB&fs=1" type="application/x-shockwave-flash" width="320" height="225" allowscriptaccess="always" allowfullscreen="true"></embed></object>		

</div>

