body {
	margin: 0px;
	background-color: #eeeeee;
	font-family:  'Helvetica Neue', Helvetica, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode',Arial, sans-serif;
	font-size: small;
}

a {
	color: #22678c;
	text-decoration: none;
}

h1 {
	font-size:22px;
}

img {
	border:0;
}

#wrapper {
	width: 1200px;
	border-width: 1px;
	min-width: 900px;
	margin-left:auto;
	margin-right:auto;
}

#logo {
	float:left;
	height:94px;
}

#loggedIn {
	margin-bottom:30px;
	text-align:left;
	float:right;
	margin-right:50px;
	margin-top:10px;
	border: 1px solid #d3e0eb;
	height:30px;
	line-height: 30px;
	padding:10px;
	line-height:30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #f2f5ff;
	
	box-shadow: inset 0px 0px 20px #d3e0eb;
	-moz-box-shadow: inset 0px 0px 20px #d3e0eb;
	-webkit-box-shadow: inset 0px 0px 20px #d3e0eb;
}

#loggedIn a {
	font-weight: bold;
	color: #3d5793;
	text-decoration: none;
}

#loggedIn img {
	margin-right:5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#topMenu {
	text-align: center;
	padding-bottom:10px;
}

#topMenu a {
	text-decoration: none;
	color: #22678C;
	font-weight: bold;
	display:inline;
	margin-right:20px;
	margin-left:20px;
}

#contentWrapper {
	clear:both;
	margin-top:-50px;
}

.tab {
	display:block;
	color: white;
	float:left;
	padding-left:5px;
	padding-right:5px;
	border-top: 1px solid #737373;
	border-right: 1px solid #373737;
	border-left: 1px solid #737373;
	height:50px;
	width: 180px;
	margin-top:15px;
	font-size: 20px;
	text-align: center;
	line-height: 55px;
	text-decoration: none;
	background-color: #373737;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#585858), to(#373737));
	background-image: -moz-linear-gradient(19% 75% 90deg, #373737, #585858);
	text-shadow: 0px 0px 3px #333333;
}

.tab.selected {
	height:65px;
	margin-top:0px;
	line-height:75px;
	border-left: 1px solid #737373;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4d4d4d), to(#2d2d2d));
	background-image: -moz-linear-gradient(19% 75% 90deg, #2d2d2d, #4d4d4d);
}

.tab img {
	vertical-align:text-bottom;
}


#tabs a:first-child {
	margin-left:20px;
	border-left: 1px solid #373737;
}


#breadcrumb {
	clear:both;
	width:100%;
	border: 1px solid #7a838e;
	height:30px;
	line-height:30px;
	background: #d0d3d6;
}

#crumbTitle {
	padding-left: 5px;
}

#crumbTitle, .tag {
	float:left;
	margin-right:10px;
}

#breadcrumb .tag {
	margin-top:3px;
	background: white;
	-webkit-border-radius: 2px;

}

.tag {
	height:22px;
	line-height:20px;
	padding-left:5px;
	padding-right:5px;
}

#content {
	border: 1px solid #7a838e;
	width:100%;
	min-height:400px;
	background: white;
	padding-top:5px;
}

#contentPane {
	float:left;
	border-right: 1px solid #7a838e;
	width:830px;
	margin-left:5px;
	padding-bottom:20px;
	min-height: 400px;
}

#menu {
	float:right;
	width:340px;
	font-size: 10pt;
	margin-right:10px;
	margin-bottom:20px;
}

#menu a {
	text-decoration: none;
}

#footer {
	text-align: center;
	margin: 10px;
	clear:both;
	font-size: 8pt;
	font-weight: bold;
	text-shadow: 1px 1px 0px #fbfbfb;
	
}

#footer #version {
	color: #a3a3a7;
}


.smGrey {
	color: #415473;
	font-size: 8pt;
	
}

/* Page specific styles */

#ideaLab {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#ideaLab #ideaBox {
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
	width: 610px;
	height:30px;
	font-size: 12pt;
	background-image: url(../images/light-bulb.png);
}

#ideaLab #ideaHolder {
	margin-left:37px;
}

#ideaLab .idea, .gridView .idea {
	float:left;
	margin:10px;
	border: 2px solid #bebebe;
	width: 230px;
	height: 250px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E3E3E3), color-stop(.7,#FFFFFF));
	background: -moz-linear-gradient(19% 75% 90deg,#E3E3E3, #FFFFFF, #FFFFFF 70%);
}

#ideaLab .idea a {
	color: #2a75ab;
	text-decoration: none;
	font-weight: bold;
}

#ideaLab .image {
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
}

#ideaLab .image img {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#ideaLab .ideaContent, .gridView .ideaContent {
	width:100%;
	height:220px;
}

#ideaLab .idea .progress,  .gridView .idea .progress {
	text-align: center;
	float:left;
	margin-left:10px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url(../images/balloon_left.png);
	padding-right:5px;
	width:20px;
	height:27px;

}

#ideaLab .idea .points, .gridView .idea .points {
	margin-left:0px;
	margin-right:auto;
	float: left;
	font-size: 12pt;
	font-weight: bold;
	line-height: 26px;
	border-top: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topright: 3px;
	border-left: 0px;
	height:25px;
	padding-left:3px;
	padding-right:5px;
	color: #3b89cb;
	background-color: white;
}

#ideaLab .idea .progress img, .gridView .idea .progress img {
	display:block;
	margin-top:5px;
}

#ideaLab .idea .header, .gridView .idea .header {
	background-color: #eef3f7;
	height:30px;
	line-height:30px;
	border-bottom: 1px dotted #b2b7bb;
}

#ideaLab .idea .pitch, .gridView .idea .pitch {
	font-size: 9pt;
	margin:5px;
}

li.newideas {
	list-style-image: url(../images/light-bulb.png);
	list-style-type: none;
}

li.newincubated {
	list-style-image: url(../images/blueprint.png);
	list-style-type: none;
}

li.newproject {
	list-style-image: url(../images/briefcase_small.png);
	list-style-type: none;
}

.innovator {
	background-color: #eef3f7;
	border: 1px dotted #b2b7bb;	
	margin:5px;
	padding:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-right:15px;
	margin-bottom:10px;
	clear:both;
}

.innovator .img {
	float:left;
}

.innovator img {
	display: block;
	float: left;
	line-height: 60px;
	border-radius: 5px;
}

.img img {
	border-radius: 5px;
	margin:2px;
}

.innovator .name {
	margin-left:5px;
	font-weight: bold;
}

.innovator .info {
	margin-left:5px;
	float:left;
	clear:both;
}

.innovatorinfo {
	float:left;
}

#menu .innovatorinfo {
	width:90%;
}

#theIdea {
	margin-left:20px;
	margin-right:10px;
}

#theIdea h1 {
	margin-bottom: 0px;
}

#ideaImage {
	margin-bottom:10px;
}

.contentPad {
	margin-left:20px;
	margin-right:10px;
}

#vote, .flatButton, input[type="submit"], input[type="button"], button {
    background: #52a8e8; /* Old browsers */
    background: -moz-linear-gradient(top, #52a8e8 0%, #377ad0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52a8e8), color-stop(100%,#377ad0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #52a8e8 0%,#377ad0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #52a8e8 0%,#377ad0 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #52a8e8 0%,#377ad0 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a8e8', endColorstr='#377ad0',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #52a8e8 0%,#377ad0 100%); /* W3C */
    padding: 2px 10px 2px 10px;
    float:left;
    line-height:19px;
    min-width:50px;
    border-radius:10px;
    text-align:center;
    color:white !important;
    font-weight: bold;
    border:1px solid #4081af;
    text-decoration:none;
    font-size:10pt;
    box-shadow: 0px 1px 2px #a3a3a3;
    text-shadow: #295a85 0px -1px 1px;
    font-family: 'Lucida Grande';
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

#vote:hover, .flatButton:hover, input[type="submit"]:hover, input[type="button"]:hover, button:hover {
    -moz-box-shadow: 0px 0px 10px rgba(64, 129, 175, 0.8), 0px 0px 6px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 10px rgba(64, 129, 175, 0.8), 0px 0px 6px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 0px 10px rgba(64, 129, 175, 0.8), 0px 0px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px rgba(64, 129, 175, 0.8), 0px 0px 6px rgba(0, 0, 0, 0.1);
    
    colour: white !important;
}

#vote:active, .flatButton:active, input[type="submit"]:active, input[type="button"]:active, button:active {
    -moz-box-shadow: inset 0px 1px 1px #1b547c;
    -o-box-shadow: inset 0px 1px 1px #1b547c;
    -ms-box-shadow: inset 0px 1px 1px #1b547c;
    box-shadow: inset 0px 1px 1px #1b547c;
}

input[type="submit"][disabled], input[type="button"][disabled], button[disabled]{
	background: gray;
}

.flatButton {
	text-align: center;
}


.rss {
	font-size:10pt;
}

.tweets {
	font-size:10pt;
	margin-bottom:10px;
}

.tweets .tweetMessage {
	margin-bottom:10px;
}

.tweets .tweetMessage a, .tweets .tweetMessage:visited {
	color: #4f66ba;
}

.tweets .tweetMessage a:hover {
	color: #384985;
}

.tweets .tweetTime {
	color: #415473;
	margin-top:2px;
	display:block;
}

#originalIdea, .resultingProject {
	background-image: url(../images/light-bulb.png);
	background-position: 6px center;
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-bottom:10px;
	
	background-color: #eef3f7;
	border: 1px dotted #b2b7bb;	
	padding:10px;
	padding-left:25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	clear:right;
}

.resultingProject {
	background-image: url(../images/briefcase_small.png);	
}

.emptech {
	font-size:9pt;
}

.emptech h4 {
	margin-bottom:2px;
}

.emptech ul {
	margin-top:0px;
}

.smtext {
	font-size: 10pt;
}

#tagHolder {
	clear:both;
	float:left;
	font-size:10pt;
}

#tagTitle {
	font-weight: bold;
	font-size: 12pt;
	float:left;
	margin-right:10px;
}

#tagHolder .tag {
	margin-left:5px;
	margin-right:0px;
	padding-left:7px;
	padding-right:7px;
	padding-top:2px;
	padding-bottom:2px;
	background-color: #fdd870;
	border: 1px solid #d0902e;
	height:20px;
	font-weight: bold;
	border-radius: 5px;
	text-shadow: #ffe5b6 1px 1px 0px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffda72), to(#fcbc4e));
	box-shadow: 1px 1px 0px #d3d3d3;
}

#tagHolder .tag:hover {
	background-color: #ffcf47;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd04c), to(#ffa100));
}

#tagHolder a {
	text-decoration: none;
	color: #966930 !important;
}

#ownerHolder {
	line-height: 50px;
}

#descriptionHolder {
	padding:5px;
	clear:both;
}

#ideaImage {
	margin-bottom:10px;
}

#ownerHolder img {
	border-radius: 5px;
	margin-right:5px;
}

#studyBarLaunch {
    position: absolute;
    padding: 0;
    top: -3px;
    left: 50%;
}

#studyBarLaunch img {
    padding: 0;
    opacity: 0.7;
}

#studyBarLaunch:hover img {
    opacity: 1.0;
}

#incubate {
	text-align: center;
	padding:10px;
}

#incubate ol {
	text-align:left;
}

#incubate #buttonControls {
	margin-top: 20px;
}

.contentItem {
	margin:10px;
}

.feedItem, #newComment, .comment {
	margin:10px;
	margin-bottom:15px;
	padding:10px;
	border: 1px solid #8c8c8c;
	border-radius: 5px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E3E3E3), color-stop(.7,#FFFFFF));
	background: -moz-linear-gradient(19% 75% 90deg, #E3E3E3, #FFFFFF, #FFFFFF 70%);
	box-shadow:0px 0px 2px #333333;
	-webkit-box-shadow:0px 0px 2px #333333;
	word-wrap: break-word;
}

.comment .commentBody {
	font-size: 9pt;
}

.comment a img:hover {
	-webkit-transform: scale(1.1);
}

.feedItem .time {
	font-size: 8pt;
	font-style: italic;
	color: #3e3e3e;
}

.postComment .author {
	float:none !important;
}

.feedItem .author, .author {
	float:right;
	color: #22678c;
	font-style: italic;
}


.contentPad {
	margin:10px;
}

.roundItem {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#noResults {
	margin-right:30px;
	
	background-color: #f7f3b4;
	border: 1px dotted #ccc1ae;	
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

input[type="text"], textarea, input[type="password"] {
	border-radius: 5px;
	border:1px solid #465773;
	padding:6px;
	box-shadow: -1px -1px 20px #d3e0eb;
	-moz-box-shadow: -1px -1px 20px #d3e0eb;
	-webkit-box-shadow: inset -1px -1px 20px #d3e0eb;
}

.pbar {
    width:100%;
    height:12px;
    background: #e4dfdf;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-box-shadow: inset 0 2px 5px #b8b4b4;
    box-shadow: inset 0 2px 5px #b8b4b4;
    -moz-box-shadow: inset 0 2px 5px #b8b4b4;
}

.pbar_progress {
    height:12px;
    background: #0072cf;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: inset 0 -3px 5px #004c8a;
    box-shadow: inset 0 -3px 5px #004c8a;
    -moz-box-shadow: inset 0 -3px 5px #004c8a;
}

#pbarHolder {
	width:375px;
	margin-left:10px;
}

.projectPercentage {
	color: #1d315b;
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
}

.projecturl {
	display: block;
	padding-left: 20px;
	margin-bottom:10px;
	height:20px;
	line-height:20px;
	background-position: left center;
	background-repeat: no-repeat;
}

.homepageurl {
	background-image: url(../images/globe.png);
}

.communityurl {
	background-image: url(../images/users.png);
}

.licenseurl {
	background-image: url(../images/open-source.png);
}

.scmurl {
	background-image: url(../images/bug.png);
}

.repourl {
	background-image: url(../images/database.png);
}

#loginForm, .regForm {
	padding: 10px;
	padding-bottom:0px;
	background-color: #fdffe5;
	width:410px;
	border:1px solid #96adc0;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	position: relative;
	float:right;
	z-index: 1;
	border-top-width: 0px;
}


.regForm {
	border-radius: 5px;
	border-top:1px solid #96adc0;
	float: none;
	margin-left: auto;
	margin-right:auto;
}

.regForm label {
	display:block;
	float: left;
	height:30px;
	margin:5px;
	clear:left;
}

.regForm input {
	display: block;
	float:right;
	clear:right;
}

#regHolder {
	text-align: center;
}

#regHolder input[type="submit"]{
	float:none;
}

#user_login input[type="text"], #user_login input[type="password"] {
	width:100px;
}

#user_login label[for="password"] {
	margin-left: 45px;
}

.ideasHeader, .incubatorHeader, .projectsHeader {
	padding-left:35px;
	background-position: left center;
	background-repeat: no-repeat;
	height: 35px;
	line-height: 35px;
}

.ideasHeader {
		background-image: url(../images/lightbulb.png);
}
.incubatorHeader {
		background-image: url(../images/plant.png);
}
.projectsHeader {
		background-image: url(../images/briefcase.png);
}

#errorMessage, #createdNew {
	font-weight: bold;
	background-color: #ff784e;
	width:95%;
	margin-left: auto;
	margin-right:auto;
	padding:10px;
	border-radius: 5px;
}

#createdNew {
	background-color: #f8ffbf;
}


#charCount {
	color: #585858;
	font-size: 16pt;
	font-weight: bold;
}

#newComment {
	margin-right:20px;
	height:50px;
	padding:5px;
}

.comment {
	margin-right:35px;
	margin-left:20px;
}

.comment {
	height: auto;
}

.postAsUser {
	float:left;
	width: 55px;
}

.postComment {
	float:left;
	width:650px;
}

.comment .postComment {
	width:650px;
}

#newComment .postComment {
	width:630px;
}

#newComment .postComment textarea {
	height:37px;
	resize: none;
	width:615px;
}

#newComment #postCommentButton {
	width:70px;
	min-width:70px;
	margin: 1px 0px 0px 2px;
	height:49px;
}

#newComment button:hover {
   cursor: pointer;
}

.loadingBar {
	position: relative;
	top:-23px;
	z-index: 5;
	font-size: 8pt;
	display: none;
}

.loadingBar img {
	vertical-align:-5px;
}

#linkedInLogin {
	line-height:25px; 
	display:block;
}

p.info {
	border: 1px solid #96ADC0;
	background-color: #f8ffbf;
	margin:2px;
	padding:8px;
	border-radius: 5px;
}

.DEV {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(/presentation/images/beta.png);
	background-color: red;
	content: "&beta;";
	position: relative;
	float: left;
	height:50px;
	width:50px;
	color: black;
	border-radius: 25px;
	top:7px;
	left:-15px;
}

#theIdea label {
	font-weight: bold;
	font-size: 12pt;
}

.delete {
	float:right;
	opacity: 0.6;
	-webkit-transition: all .2s ease-in-out;
	color: red;
	font-weight: bold;
}

.idea .delete {
	margin:5px;
}

.delete:hover {
	opacity: 1;
	-webkit-transform: scale(1.1);
}

#followers .follower {
	float:left;
	margin:5px;
}

.addNewUser {
	clear:both;
	line-height:25px;
	margin-bottom:10px;
}

.addNewUser img {
	margin-right:5px;
}

a#skip {
	position: absolute;
}

#ORcontainer a {
	 font-size:22pt;
}

#denied {
	background-color: #ff784e;
	text-align: center;
	border-radius: 5px;
	margin:20px;
	padding:10px;
	padding-bottom:20px;
}

.innerContent {
	margin:10px;
}

.leftMargin {
	margin-left:10px;
	float:left;
}

.italic {
	font-style: italic;
}

.dividingLine {
	border-bottom-color: #587599;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	display: block;
	height:1px;
	clear:both;
	margin-bottom:10px;
}

#contentPane #filters {
	height:25px;
	margin-right:40px;
	display: none;
}

#contentPane #filters a {
	display: block;
	float:right;
	height:25px;
	background: black;
	width:150px;
	margin-right:10px;
	line-height: 25px;
	border-radius: 5px;
}

#contentPane #filters a.selected {
	background: #EEE;
}

#urlcontainer {
	margin:10px;
}

#Github {
	border-color: #ffe29c;
	border-width: 1px;
	border-style: solid;
	padding:5px;
	padding-left:10px;
	background-color: #fdffde;
	border-radius: 5px;
	width:50%;
}

#Github h3 {
	margin-top:5px;
}

#Github li#forks {
	list-style-image: url(../images/arrow-switch.png);
}

#Github li#watchers {
	list-style-image: url(../images/eye.png);
}

#Github li#lastUpdated {
	list-style-image: url(../images/clock.png);
}

#Github li#language {
	list-style-image: url(../images/gear.png);
}

#Github li#issues {
	list-style-image: url(../images/exclamation-diamond.png);
}

.hidden {
	display: none;
}

.holder {
	float:left;
	width:32%;
	text-align: center;
	margin:0.5%;
	border-radius: 5px;
}

.holder a {
	display:block;
}

.holder a {
	padding: 8px 12px;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.4;
	
	color: #555;
	cursor: pointer;
	text-shadow: 1px 1px #fff;
}

.holder a, #exposeHolder {
	border: 1px solid #ccc;
	background: #E4E4E3;
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #F5F6F6 3%, #E4E4E3 100%) repeat scroll 0 0 transparent;
	background-image: -webkit-gradient(
    linear,
    center top,
    center bottom,
    color-stop(1, rgb(228,228,227)),
    color-stop(0.3, rgb(245,246,246)),
    color-stop(0, rgb(255,255,255))
	);
	border-radius: 3px;

	-moz-box-shadow: 0 1px 2px 0 #eee;
	-webkit-box-shadow: 0 1px 2px 0 #eee;
	box-shadow: 0 1px 2px 0 #eee;
}

#exposeHolder h2 {
	margin-top:0px;
}

.holder a:hover, .holder a.selected {
	background: #c1c1c1;
	background: -moz-linear-gradient(center top , #f4f4f4 0%, #e9e9e9 3%, #d3d3d3 100%) repeat scroll 0 0 transparent;
	background-image: -webkit-gradient(
    linear,
    center top,
    center bottom,
    color-stop(1, rgb(211,211,211)),
    color-stop(0.3, rgb(233,233,233)),
    color-stop(0, rgb(244,244,244))
	);
}

#exposeHolder {
	padding:10px;
	margin-left:5px;
	margin-right:12px;
	margin-bottom:20px;
}

.holder a img {
	vertical-align:bottom;
}

.answer {
	border-bottom:1px solid #7A838E;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	text-align: left;
}

#dfd {
	float:left;
	margin-top:25px;
	font-size: 9pt;
	margin-left:15px;
}

#dfd img {
	float:left;
}

#dfd span {
	float:left;
	margin-top:47px;
	margin-right:5px;
}

#incubateList li {
	padding:5px;
}

.question-multi-select li{
	list-style:none;
}

.question-scale .table_rightlabel, .question-scale .table_leftlabel{
	width: 150px
}

.openness-submit {
	margin-top: 30px;
	font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode',Arial, sans-serif !important;
}

.openness-button {
	margin-left: 15px;
	margin-top: 20px;
	font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode',Arial, sans-serif;
}

.openness-button a{
	color: white;
	font-size: 130%;
	padding: 3px 3px 3px 3px;
}

#openness-complete{
	font-size: 130%;
	font-weight: bold;
}

#openness-reset{
	border-top: 1px solid #7A838E;
}

#pagination {
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 120%;
	margin-left: 50px;
}

#pagination .pageLink {
	display: block;
	border: 1px solid #a9a7a7;
	width:30px;
	height:30px;
	border-radius: 3px;
	line-height: 30px;
	float:left;
	margin-left:5px;
}

#pagination .pageLink.selected {
	background: #ecf4ff;
}

.question-text a{
	text-decoration: underline;
}

.innovations {
	padding-top: 20px;
	padding-left: 2px;
	float: left;
	clear: both;
}

.profile-project {
	background-color: #EEF3F7;
	border: 1px dotted #B2B7BB;
	margin: 5px;
	padding: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-right: 15px;
	margin-bottom: 10px;
	clear: both;
}

.profile-project-info {
	float: left;
}

.profile-project img {
	display: block;
	float: left;
	line-height: 60px;
	border-radius: 5px;
}

.community-links {
	font-size: 160%;
}

.community-links a {
	vertical-align: super;
}